<% include ../partials/upasnaheader %>


<main class='container-sm-12'>
    <div class='row justify-content-center'>
        <div class='col-md-3 col-sm-8'>
            <img src="../assets/upasna.png" id='author'class="img-thumbnail mx-auto d-block" alt="Author name">
        </div>
    </div>
    <div class='row justify-content-center'>
        <h1 class='display-4 name'>Upasna Khastgir</h1>
    </div>
    <div class='row justify-content-center cred'>
        <div>
            <a href='https://www.apra.gov.au/'>Analyst at APRA</a></li>
        </div>
        <div class='dot'>
             •
        </div>
        <div>
            <a href='http://www.future-impact.com.au/testimonials/2019/10/15/upasna-khastgir-unsw-business-school'>UNSW Business School</a>
        </div>
    </div>
    <div class='row justify-content-center'>
        <p class='short-desc'>
            Economist, tutor and a cookie monster
        </p>
    </div>
    <div class='row justify-content-center icon-list'>
        <a href='https://au.linkedin.com/in/upasna-khastgir-b83834124'><i class="fab fa-linkedin"></i></a>
        <a href='https://www.facebook.com/upasna.khastgir'><i class="fab fa-facebook-square"></i></a>
        <a href='#'><i class='fab fa-instagram'></i></a>
    <div>
</main>
<div class='body'>
    <div class='container-sm'>
        <div class='row justify-content-center'>
            <div class='col-md-7 col-sm-10'>
                <p class='text-justify'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ornare tellus ut metus sollicitudin molestie. Ut semper, velit id malesuada cursus, nulla nunc suscipit lorem, eget vestibulum felis leo id mi. Nulla dapibus est placerat elit suscipit viverra. Aliquam ac eros augue. Etiam sagittis ante in nisl faucibus, vel semper eros elementum. In semper, magna sodales imperdiet varius, tortor elit elementum lacus, a iaculis felis diam ut quam. Pellentesque laoreet, dolor eget consectetur ullamcorper, leo purus blandit diam, mattis imperdiet velit quam a lectus. Quisque nec lobortis felis. Morbi dictum varius odio eu feugiat. Nunc consectetur leo vestibulum mi iaculis, sit amet eleifend arcu consequat. Morbi eget augue dictum, tincidunt leo nec, tempor risus. Nulla sodales dui a felis convallis euismod in non quam. Donec tempor nibh dui, quis efficitur dolor rhoncus non. Nam dapibus mi sed euismod convallis. Integer leo erat, auctor at congue feugiat, euismod nec arcu. Suspendisse in odio id nulla condimentum lacinia eu eu ipsum.
                </p>
            </div>
        </div>    
    </div>
<div>





<% include ../partials/footer %>