#topContainer{
    margin-top: 5vw;
}
#sidebar{

    text-align: center;
} 
#rotate{
    transform: rotate(90deg);
}
.link:hover{
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
}
a:hover{
    text-emphasis: none;
    text-decoration: none;
}
#sidebar img{
    border-radius: 20px;
}
@media (min-width: 400px) and (max-width: 767.98px){
    .jumbotron{
        margin-top: 25px;
    }
}
#secondRow{
    overflow: scroll;
    white-space: nowrap;
}
.thumbnail img{
    width: 15vw;
    height: 15vw;
    padding: 0;

}

.thumbnail{
    margin: 2vw;
    border-radius: 10px;
    display: inline-block;
}

.innerContainer{
    max-width: 1052px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


.innerContainer{
    -webkit-box-shadow: inset -15px 0 15px -15px rgba(0,0,0,.7);
    box-shadow: inset -15px 0 15px -15px rgba(0,0,0,.7), inset 15px 0 15px -15px rgba(0,0,0,.7);
}

.thumbnail .caption{
    text-align:center;
    font-size: 1.1vw;
}


.thumbnail:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}
@media (min-width: 400px) and (max-width: 767.98px){
    
    .highlightReel {
        margin-left: 0px;   
    }

    .innerContainer{
        max-width: 100%;
    }

    .innerContainer::after{
        top: 877px;
        left: 710px;
    }
}
@media (min-width: 768px) and (max-width: 850px)
{   .col-md-9{
    padding-left: 46px;
    }

}
