#topContainer{
    margin-top: 5vw;
}
#sidebar{

    text-align: center;
} 
#rotate{
    transform: rotate(90deg);
}
.link:hover{
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
}
a:hover{
    text-emphasis: none;
    text-decoration: none;
}
#sidebar img{
    border-radius: 20px;
}
@media (min-width: 400px) and (max-width: 767.98px){
    .jumbotron{
        margin-top: 25px;
    }
}
#secondRow{
    overflow: scroll;
    white-space: nowrap;
}
.thumbnail img{
    width: 15vw;
    height: 15vw;
    padding: 0;

}

.thumbnail{
    margin: 2vw;
    border-radius: 10px;
    display: inline-block;
}

.innerContainer{
    max-width: 1052px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


.innerContainer{
    -webkit-box-shadow: inset -15px 0 15px -15px rgba(0,0,0,.7);
    box-shadow: inset -15px 0 15px -15px rgba(0,0,0,.7), inset 15px 0 15px -15px rgba(0,0,0,.7);
}

.thumbnail .caption{
    text-align:center;
    font-size: 1.1vw;
}


.thumbnail:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}
@media (min-width: 400px) and (max-width: 767.98px){
    
    .highlightReel {
        margin-left: 0px;   
    }

    .innerContainer{
        max-width: 100%;
    }

    .innerContainer::after{
        top: 877px;
        left: 710px;
    }
}
@media (min-width: 768px) and (max-width: 850px)
{   .col-md-9{
    padding-left: 46px;
    }

}

.jumbotron {
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#custom-color{
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.box{
    width: 1000px; 
   
    border: 2px solid palevioletred;
    border-radius: 10%; 
    margin: 50px auto auto auto; 
}
#inner-box{
    padding: 50px;
}
#breezer{
    width: 100px;
    height: 150px; 
    text-align: right;
    
}

#breezer:nth-child(1){
    margin-left: 20px;
}

.joke{
    margin-top: 10px; 
    
}
.joke:hover{
    transform: scale(1.01);
    transform-origin: right;
    transition: 0.3s ease-in-out;
}

.thumbnail>img{
    margin: 5px;
}