<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/about.css">


<div class="container">
    
    <div class='row about-title'>
        <div class="col-md-6 col-sm-5">
        <h1>About <span>me</span></h1>
        <h4>tl;dr</h4>
        <p>A Test manager by profession who believes half of the problem is solved when you communicate properly and build simple software solutions. I enjoy bushwalking, perfecting my <a href="https://www.latex-project.org/">typesetting skills</a> and a huge fan of soup dumplings.</p>
        <h2> What <span>I do</span></h2>
        <p>I am currently working at <a href='https://www.commbank.com.au/'>Commonwealth Bank of Australia (CBA)</a>. As a Test Manager I get to enjoy doing the below acitvities:</p>
        <p class="lists">
        <ol>
            <li>Investing and implementing automation frameworks within the team</li>
            <li>Managing multiple projects across ATM from a testing standpoint</li>
            <li>Continously uplifting team to ensure that we are abreast with industry standards</li>
            <li>Providing feedback into software solutions being implemented</li>
        </ol>

        </p>
        <p>
        I joined CBA in 2016 as a Test Analyst where I worked on <a href='https://www.quora.com/What-is-payment-switch-and-payment-gateway'>transaction switches.</a> At that time, I felt I would add more value to the bank and myself if I moved into a software development role. Luckily for me, an opportunity arose and enjoyed the role of Sofware Engineer for 2.5 years.</p>
        </p>
        <p>
        Contrary to what most developers might say, I enjoy my interactions with the business the most. They are the <em>consumers</em> of the software that I build. <em>They are the real testers!</em> I love hearing their problems and desires, analysing them and trying to come up with some solutions. During my time as a software developer I worked on APIs, front end design and building analytics frameworks.
        </p>
        <p>
        2 years later I was tasked to lead the testing team and drive automation. In one year, the team has come a long way. Each project is now looked through the lens of automation and how it can benefit - if it can.
        That's the beauty of building simple software and this is what makes me proud. The automation features that we build add value on an ongoing basis in terms of cost and time savings. We are now delivering complex projects with better test coverage in times which were not possible before.  
        </p>
        
        <h2>Where <span>am I headed?</span></h2>
        <p>At my work, we follow the <a href='https://www.atlassian.com/agile'>agile</a> way of working. To be efficient at agile, I decided to work on honing three skills. These were:
            <ol>
            <li>Get to know the business. Listen and then talk.</li>
            <li>Be methodical. <a href="https://www.batimes.com/articles/failing-to-plan-is-planning-to-fail.html">Failing to plan is planning to fail.</a> </li>
            <li>Know more technologies. Explore. It led me to look into NodeJS</li>
            </ol>
        Professionally, I am now looking for a Senior Manager opportunity within development and testing. I strongly believe that these two disciplines of SDLC go hand in hand. Their synergies if exploited properly will reap lots of benefits in terms of cost and time savings. 
        </p>
        <p>
        </p>
        </div>
        <div class='line'></div>
        <div class='col-md-4 col-sm-6'>
            <h1><span>Contact</span> details</h1>
            <p>
                <ul>
                    <li><i class="material-icons icon">phone</i> (+61) 044 959 5592</li>
                    <li><i class="material-icons icon">email</i><a href='mailto: anubhav.ashish9@gmail.com'> anubhav.ashish9@gmail.com</a></li>
                </ul>
            </p>
            <h1>&nbspMy <span>resume</span></h1>
            <p>
                <ul>
                    <li><a href="../assets/AnubhavResume.pdf">Click here to download.</a></p></li>
                    <li> To see the typesetting behind my resume, <a href='https://www.overleaf.com/read/ypqygcvsppsm'>click here</a>.
                </ul>
            </p>
            
            
        </div>
    </div>
</div>
<% include ../partials/footer %>