<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/about.css">
<div class="container">
    
    <div class='row about-title'>
        <div class="col-md-7 col-sm-6">
        <h1>About <span>me</span></h1>
        <h4>tl;dr</h4>
        <p>A Software developer by profession who believes half of the problem is solved when you communicate properly. I enjoy bushwalking, perfecting my <a href="https://www.latex-project.org/">typesetting skills</a> and a huge fan of soup dumplings.</p>
        <h2> What <span>I do</span></h2>
        <p>I am currently working at <a href='https://www.commbank.com.au/'>Commonwealth Bank of Australia (CBA)</a>. I work on implementing front-end designs and building microservices that integrate one or two systems. I joined CBA in 2016 as a Test Analyst where I worked on <a href='https://www.quora.com/What-is-payment-switch-and-payment-gateway'>transaction switches.</a> At that time, I felt I would add more value to the bank and myself if I moved into a software development role. Luckily for me, an opportunity arose and here I am two and a half years later.</p>
        </p>
        <p>
        Contrary to what most developers might say, I enjoy my interactions with the business the most. They are the <em>consumers</em> of the software that I build. <em>They are the real testers!</em> I love hearing their problems and desires, analysing them and trying to come up with some solutions. 
        </p>
        <p>
        While I am doing all of the above, I am also documenting everything I do. It maybe technical documentation or gathering business requirements. When I joined the bank, I blessed those souls who put in the time and effort into writing quality documents. I learned everything from those documents especially when it came to some legacy technology or old business initiatives. I want to continue this tradition. It not only helps my team and I to know what was done but also makes life easier if we are onboard someone new. If you are interested in writing pretty documents, I would strongly recommend using <a href='https://www.latex-project.org/'>a typesetting language like LaTex</a>. I use it for my resume. 
        </p>
        
        <h2>Where <span>am I headed?</span></h2>
        <p>At my work, we follow the <a href='https://www.atlassian.com/agile'>agile</a> way of working. To be efficient at agile, I decided to work on honing three skills. These were:
            <ol>
            <li>Get to know the business. Listen and then talk.</li>
            <li>Be methodical. <a href="https://www.batimes.com/articles/failing-to-plan-is-planning-to-fail.html">Failing to plan is planning to fail.</a> </li>
            <li>Know more technologies. Explore. (Result was this website)</li>
            </ol>
        It's been two years now with this website being updated as I have progressed. Professionally, I am now looking for a Business Analyst opportunity. Just like when I transitioned into a developer role when I felt I would add more value that way, I feel the same way about being a business analyst. I can leverage my technical and communication skills to aid decision making and break communication barriers down. 
        </p>
        <p>
        Personally, besides wanting to buy a BMW 220d, I am more and more focussed on honing my communication skills and learning latest technologies in the market. 
        </p>
        </div>
        <div class='line'></div>
        <div class='col-md-4 col-sm-6'>
            <h1><span>Contact</span> details</h1>
            <p>
                <ul>
                    <li><i class="material-icons icon">phone</i> (+61) 044 959 5592</li>
                    <li><i class="material-icons icon">email</i><a href='mailto: anubhav.ashish9@gmail.com'> anubhav.ashish9@gmail.com</a></li>
                </ul>
            </p>
            <h1>&nbspMy <span>resume</span></h1>
            <p>
                <ul>
                    <li><a href="../assets/AnubhavResume.pdf">Click here to download.</a></p></li>
                    <li> To see the typesetting behind my resume, <a href='https://www.overleaf.com/read/ypqygcvsppsm'>click here</a>.
                </ul>
            </p>
            
            
        </div>
    </div>
</div>
<% include ../partials/footer %>