<% include ../partials/header %>
<div class="container-fluid" id="topContainer">
   <div class="row flex-xl-nowrap">        
       <div class="col-12 col-md-3 col-xl-2" >
        <div id="sidebar">
                <img src= "../assets/me.jpg" width="200" height="200">
                <h4>Anubhav Ashish</h4>
                <p>
                    <em>Software Developer, bushwalker and a foodie!</em>
                </p>
                <div class="link">
                    <a href="https://github.com/camelCaseStyle"> <img src="../assets/GitHub-Mark-120px-plus.png" width="40px" height="40px">
                        Meet me on github!</a>
                </div>
                
                
            </div>
        
        </div>
        
        <div class="col-md-9">
                <div class="jumbotron">
                    <h1>Welcome to my virtual crib ! </h1>
                    <p>
                        I am software developer by profession and enjoy working on some hobby projects on the side. I enjoy the front end technologies the most. 
                        This website aims to encompass the projects that I have done so far. I use this page as a playground to experiment with anything new. 
                        Right now my aim is to get very proficient with nodeJs and using MVC with backbone.js. 
                    </p>
                    <p>
                        Check out apps I have built so far in the Apps section in the nav bar. 
                    </p>

                </div>
        </div>

    </div>    
</div>
<% include ../partials/footer %>