<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/radio.css">
<div class="wrapper">
    <nav id="sidebar">
                <img src="../assets/me.jpg" width="200" height="200">
                <h4>Anubhav Ashish</h4>
                <p><em>Software Developer, bushwalker and a wannabe RJ!</em></p>
                <div id="bio">
                    <h4>Quick info</h4>
                        <span>Born on Dec 6, 1994</span></br>
                        <span>Moved to Australia in 2010</span></br>
                        <span>Phir bhi dil hain hindustani :)</span></br>
                <div>
    </nav>

<div class="content">            
    <div class="container">
        <h1>So, you want to become an RJ?</h1>
        <p>Yes, that's right! Growing up in Chandigarh, India I was a huge fan of Big 92.7 FM. I would often talk like an RJ in shower and promised myself that whatever profession I chose I would definitey give radio a shot during my uni days. Sadly, that never happened and I moved to Australia in 2010. Around that time(give or take a few years), 92.7FM started a radio show  <a href="http://www.radioandmusic.com/content/editorial/news-releases/big-927-fms-chak-de-chandigarh-with-rj-anubhav">"Chak de Chandigarh with RJ Anubhav"</a>. Atleast 92.7FM got a "Anubhav". I still want that gig so bad! 
        </p>

        <h1>Why not invest time in traditional resume for this RJ role?</h1>
        <p>I could but then I feel radio is all about conversations, making a connection and bringing joy to people. People on a roadtrip listen to you, people going to work or home listen to you. You conversate. I wanted the style of the resume to reflect how I feel about radio. If you still want a microsoft word resume - let me know. I want this real bad.</p>

        <h1>Why shoud you be interested in giving me a chance?</h1>
        <p>You, I like you. Jokes aside, this is something I have always wanted. Even during my family dinner conversations I pull out my radio voice to make people laugh and laugh they do. Do I have a degree/diploma in communications ? No. Do I have the mindset to put in the effort, have fun and enjoy this role? Yes, I do very much.</p>

        <h1>So what exactly do you do?</h1>
        <p>I lead a software development team within Commonweatlh Bank of Australia. I have been working there for 5 years now. On education side of things, I did my software engineering from Macquarie University.</p>


        <h1>Tell us more!</h1>
        <p>Sure ! What do you say we talk about this over a nice cup of chai? Sidenote: I make a mean cup of chai. </p>
    </div>

    <div>
</div>


<% include ../partials/footer %>